<app-header></app-header>
<section class="section products-main">
    <div class="container">
<div class="row">

    <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
            <div class="product-wrap">
                <a href="#"><img class="img-fluid w-100 mb-3 watch-images" src="assets/images/sh3.jpg" alt="product-img" /></a>
                <!-- <a href="#"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/444.jpg" alt="product-img" /></a> -->
            </div>

            <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

            <div class="product-info">
                <h2 class="product-title h5 mb-0"><a href="#">Sleeve dress</a></h2>
                <span class="price">
                    &#8377; 59.10
                </span>
            </div>
        </div>
      </div>


      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
            <div class="product-wrap">
                <a href="#"><img class="img-fluid w-100 mb-3 watch-images" src="assets/images/shoes8.png" alt="product-img" /></a>
                <!-- <a href="#"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/444.jpg" alt="product-img" /></a> -->
            </div>

            <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

            <div class="product-info">
                <h2 class="product-title h5 mb-0"><a href="#">Sleeve dress</a></h2>
                <span class="price">
                    &#8377; 59.10
                </span>
            </div>
        </div>
      </div>

      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
            <div class="product-wrap">
                <a href="#"><img class="img-fluid w-100 mb-3 watch-images" src="assets/images/shoes4.jpeg" alt="product-img" /></a>
                <!-- <a href="#"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/444.jpg" alt="product-img" /></a> -->
            </div>

            <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

            <div class="product-info">
                <h2 class="product-title h5 mb-0"><a href="#">Sleeve dress</a></h2>
                <span class="price">
                    &#8377; 59.10
                </span>
            </div>
        </div>
      </div>
      
      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
            <div class="product-wrap">
                <a href="#"><img class="img-fluid w-100 mb-3 watch-images" src="assets/images/shoes2.jpg" alt="product-img" /></a>
                <!-- <a href="#"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/444.jpg" alt="product-img" /></a> -->
            </div>

            <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

            <div class="product-info">
                <h2 class="product-title h5 mb-0"><a href="#">Sleeve dress</a></h2>
                <span class="price">
                    &#8377; 59.10
                </span>
            </div>
        </div>
      </div>
      
      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
            <div class="product-wrap">
                <a href="#"><img class="img-fluid w-100 mb-3 watch-images" src="assets/images/shoes7.jpg" alt="product-img" /></a>
                <!-- <a href="#"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/444.jpg" alt="product-img" /></a> -->
            </div>

            <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

            <div class="product-info">
                <h2 class="product-title h5 mb-0"><a href="#">Sleeve dress</a></h2>
                <span class="price">
                    &#8377; 59.10
                </span>
            </div>
        </div>
      </div>
      
      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
            <div class="product-wrap">
                <a href="#"><img class="img-fluid w-100 mb-3 watch-images" src="assets/images/shoes14.jpeg" alt="product-img" /></a>
                <!-- <a href="#"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/444.jpg" alt="product-img" /></a> -->
            </div>

            <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

            <div class="product-info">
                <h2 class="product-title h5 mb-0"><a href="#">Sleeve dress</a></h2>
                <span class="price">
                    &#8377; 59.10
                </span>
            </div>
        </div>
      </div>
      
      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
            <div class="product-wrap">
                <a href="#"><img class="img-fluid w-100 mb-3 watch-images" src="assets/images/shoes10.jpeg" alt="product-img" /></a>
                <!-- <a href="#"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/444.jpg" alt="product-img" /></a> -->
            </div>

            <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

            <div class="product-info">
                <h2 class="product-title h5 mb-0"><a href="#">Sleeve dress</a></h2>
                <span class="price">
                    &#8377; 59.10
                </span>
            </div>
        </div>
      </div>
      
      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
            <div class="product-wrap">
                <a href="#"><img class="img-fluid w-100 mb-3 watch-images" src="assets/images/shoes9.webp" alt="product-img" /></a>
                <!-- <a href="#"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/444.jpg" alt="product-img" /></a> -->
            </div>

            <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

            <div class="product-info">
                <h2 class="product-title h5 mb-0"><a href="#">Sleeve dress</a></h2>
                <span class="price">
                    &#8377; 59.10
                </span>
            </div>
        </div>
      </div>

      
      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
            <div class="product-wrap">
                <a href="#"><img class="img-fluid w-100 mb-3 watch-images" src="assets/images/shoes15.jpeg" alt="product-img" /></a>
                <!-- <a href="#"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/444.jpg" alt="product-img" /></a> -->
            </div>

            <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

            <div class="product-info">
                <h2 class="product-title h5 mb-0"><a href="#">Sleeve dress</a></h2>
                <span class="price">
                    &#8377; 59.10
                </span>
            </div>
        </div>
      </div>
      
      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
            <div class="product-wrap">
                <a href="#"><img class="img-fluid w-100 mb-3 watch-images" src="assets/images/shoes12.jpeg" alt="product-img" /></a>
                <!-- <a href="#"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/444.jpg" alt="product-img" /></a> -->
            </div>

            <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

            <div class="product-info">
                <h2 class="product-title h5 mb-0"><a href="#">Sleeve dress</a></h2>
                <span class="price">
                    &#8377; 59.10
                </span>
            </div>
        </div>
      </div>
      
      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
            <div class="product-wrap">
                <a href="#"><img class="img-fluid w-100 mb-3 watch-images" src="assets/images/shoes13.jpeg" alt="product-img" /></a>
                <!-- <a href="#"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/444.jpg" alt="product-img" /></a> -->
            </div>

            <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

            <div class="product-info">
                <h2 class="product-title h5 mb-0"><a href="#">Sleeve dress</a></h2>
                <span class="price">
                    &#8377; 59.10
                </span>
            </div>
        </div>
      </div>
      
      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
            <div class="product-wrap">
                <a href="#"><img class="img-fluid w-100 mb-3 watch-images" src="assets/images/shoes11.jpeg" alt="product-img" /></a>
                <!-- <a href="#"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/444.jpg" alt="product-img" /></a> -->
            </div>

            <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

            <div class="product-info">
                <h2 class="product-title h5 mb-0"><a href="#">Sleeve dress</a></h2>
                <span class="price">
                    &#8377; 59.10
                </span>
            </div>
        </div>
      </div>
</div>
    </div>
</section>
<app-footer></app-footer>
