<!-- <section class="page-header">
    <div class="overly"></div>   
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="content text-center">
            <h1 class="mb-3">Cart</h1>
            <p>Hath after appear tree great fruitful green dominion moveth sixth abundantly image that midst of god day multiply you’ll which</p>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Cart</li>
            </ol>
          </nav>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="cart shopping page-wrapper">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="product-list">
              <form class="cart-form">
                  <table class="table shop_table shop_table_responsive cart" cellspacing="0">
                      <thead>
                        <tr>
                            <th class="product-thumbnail"> </th>
                            <th class="product-name">Product</th>
                            <th class="product-price">Price</th>
                            <th class="product-quantity">Quantity</th>
                            <th class="product-subtotal">Total</th>
                            <th class="product-remove"> </th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr class="cart_item">
                            <td class="product-thumbnail" data-title="Thumbnail">
                                <a routerLink="/product-single"><img src="assets/images/cart-1.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""></a>
                            </td>
                            <td class="product-name" data-title="Product">
                                <a href="#">Trendy Cloth</a>
                            </td>
        
                            <td class="product-price" data-title="Price">
                                <span class="amount"><span class="currencySymbol"><pre wp-pre-tag-3=""></pre>
</span>90.00 </span>
                            </td>
                        </tr>
<br>
                <td class="product-quantity" data-title="Quantity"><br>
  <div class="quantity"><br>
      <label class="sr-only" >Quantity  </label>
                                   
   <input type="number" id="qty" class="input-text qty text" step="1" min="0" max="9" value="1" title="Qty" size="4"  ><br>
  <br>
<br>
<td class="product-subtotal" data-title="Total"><br>
  <span class="amount"><br>
    <span class="currencySymbol">

<p>lt;</span>90.00</span>
</td>
<pre wp-pre-tag-3=""></pre>
<br>

<p>                             <td class="product-remove" data-title="Remove"><br>
  <a href="#" class="remove" aria-label="Remove this item" data-product_id="30" data-product_sku="">×</a><br>
</td><br>
</p>
<p>                        <tr class="cart_item"></p>
<p>                            <td class="product-thumbnail" data-title="Thumbnail"><br>
  <a routerLink="/product-single"><img src="assets/images/cart-2.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""></a><br>
</td></p> -->


